<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adatafun.base.data.center.mapper.CustomFlightPOMapper">
  <resultMap id="BaseResultMap" type="com.adatafun.base.data.center.po.CustomFlightPO">
    <id column="custom_flight_id" jdbcType="BIGINT" property="customFlightId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="custom_url" jdbcType="VARCHAR" property="customUrl" />
    <result column="flight_id" jdbcType="BIGINT" property="flightId" />
    <result column="update_flag" jdbcType="INTEGER" property="updateFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    custom_flight_id, customer_id, custom_url, flight_id, update_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from f_custom_flight
    where custom_flight_id = #{customFlightId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from f_custom_flight
    where custom_flight_id = #{customFlightId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.adatafun.base.data.center.po.CustomFlightPO">
    insert into f_custom_flight (custom_flight_id, customer_id, custom_url, 
      flight_id, update_flag)
    values (#{customFlightId,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{customUrl,jdbcType=VARCHAR}, 
      #{flightId,jdbcType=BIGINT}, #{updateFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.adatafun.base.data.center.po.CustomFlightPO">
    insert into f_custom_flight
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customFlightId != null">
        custom_flight_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customUrl != null">
        custom_url,
      </if>
      <if test="flightId != null">
        flight_id,
      </if>
      <if test="updateFlag != null">
        update_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customFlightId != null">
        #{customFlightId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customUrl != null">
        #{customUrl,jdbcType=VARCHAR},
      </if>
      <if test="flightId != null">
        #{flightId,jdbcType=BIGINT},
      </if>
      <if test="updateFlag != null">
        #{updateFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adatafun.base.data.center.po.CustomFlightPO">
    update f_custom_flight
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customUrl != null">
        custom_url = #{customUrl,jdbcType=VARCHAR},
      </if>
      <if test="flightId != null">
        flight_id = #{flightId,jdbcType=BIGINT},
      </if>
      <if test="updateFlag != null">
        update_flag = #{updateFlag,jdbcType=INTEGER},
      </if>
    </set>
    where custom_flight_id = #{customFlightId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adatafun.base.data.center.po.CustomFlightPO">
    update f_custom_flight
    set customer_id = #{customerId,jdbcType=BIGINT},
      custom_url = #{customUrl,jdbcType=VARCHAR},
      flight_id = #{flightId,jdbcType=BIGINT},
      update_flag = #{updateFlag,jdbcType=INTEGER}
    where custom_flight_id = #{customFlightId,jdbcType=BIGINT}
  </update>

  <!-- self -->

  <resultMap id="base_map" type="com.adatafun.base.data.center.po.CustomFlightPO">
    <id column="custom_flight_id" jdbcType="BIGINT" property="customFlightId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="custom_url" jdbcType="VARCHAR" property="customUrl" />
    <result column="flight_id" jdbcType="BIGINT" property="flightId" />
    <result column="flight_no" jdbcType="VARCHAR" property="flightNo" />
    <result column="dep_date" jdbcType="DATE" property="depDate" />
    <result column="dep_airport_code" jdbcType="VARCHAR" property="depAirportCode" />
    <result column="arr_airport_code" jdbcType="VARCHAR" property="arrAirportCode" />
    <result column="update_flag" jdbcType="INTEGER" property="updateFlag" />
  </resultMap>

  <sql id="insertName">
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customFlightId != null">
        custom_flight_id,
      </if>
      <if test="flightNo != null">
        flight_no,
      </if>
      <if test="depDate != null">
        dep_date,
      </if>
      <if test="depAirportCode != null">
        dep_airport_code,
      </if>
      <if test="arrAirportCode != null">
        arr_airport_code,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customUrl != null">
        custom_url,
      </if>
      <if test="flightId != null">
        flight_id,
      </if>
      <if test="updateFlag != null">
        update_flag,
      </if>
    </trim>
  </sql>

  <sql id="insertValue">
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customFlightId != null">
        #{customFlightId,jdbcType=BIGINT},
      </if>
      <if test="flightNo != null">
        #{flightNo,jdbcType=VARCHAR},
      </if>
      <if test="depDate != null">
        #{depDate,jdbcType=DATE},
      </if>
      <if test="depAirportCode != null">
        #{depAirportCode,jdbcType=VARCHAR},
      </if>
      <if test="arrAirportCode != null">
        #{arrAirportCode,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customUrl != null">
        #{customUrl,jdbcType=VARCHAR},
      </if>
      <if test="flightId != null">
        #{flightId,jdbcType=BIGINT},
      </if>
      <if test="updateFlag != null">
        #{updateFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </sql>

  <insert id="insertOne" parameterType="com.adatafun.base.data.center.po.CustomFlightPO" useGeneratedKeys="true" keyProperty="customFlightId">
    INSERT INTO f_custom_flight
    <include refid="insertName"/>
    VALUES
    <include refid="insertValue"/>
  </insert>

  <select id="selectByFourParams" resultMap="base_map">
    SELECT
    *
    FROM
    f_custom_flight
    WHERE
    is_deleted = 0 AND
    flight_no =  #{flightNo,jdbcType=VARCHAR} AND
    dep_date =  #{depDate,jdbcType=DATE} AND
    dep_airport_code = #{depAirportCode,jdbcType=VARCHAR} AND
    arr_airport_code =  #{arrAirportCode,jdbcType=VARCHAR}
  </select>

  <select id="selectByFourParamsAndCustomerId" resultMap="base_map">
    SELECT
        fcf.custom_flight_id ,
        fcf.customer_id ,
        bc.customer_url ,
        fcf.dep_date ,
        fcf.flight_no ,
        fcf.dep_airport_code ,
        fcf.arr_airport_code ,
        fcf.update_flag ,
        fcf.is_deleted
    FROM
        f_custom_flight fcf
    LEFT JOIN base_customer bc ON fcf.customer_id = bc.customer_id
    AND bc.is_deleted = 0
    WHERE
    fcf.is_deleted = 0 AND
    fcf.customer_id = #{customerId,jdbcType=BIGINT} AND
    fcf.flight_no =  #{flightNo,jdbcType=VARCHAR} AND
    fcf.dep_date =  #{depDate,jdbcType=DATE} AND
    fcf.dep_airport_code = #{depAirportCode,jdbcType=VARCHAR} AND
    fcf.arr_airport_code =  #{arrAirportCode,jdbcType=VARCHAR}
  </select>

</mapper>